<li class="dropdown">
    <a asp-controller="Lanche" asp-action="List"
       class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">
        Lanches<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="nav-link text-dark" asp-controller="Lanche" asp-action="List"
                   asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="nav-link text-dark" asp-controller="Lanche" asp-action="List" asp-route-categoria="">Todos os Lanches</a>
        </li>
    </ul>
</li>