@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

<div class="row">
    @foreach (Lanche lanche in Model.Lanche)
    {
        <partial name="_LancheResumoPartial" for="@lanche" />
    }
</div>