@model CarrinhoCompraViewModel

<div class="row checkoutForm">

    <img src="~/images/Full-Cart-icon.png" />
    <div>
        <h4> Carrinho de compras Vazio</h4>
    </div>
    <div class="dropdown ml-auto">
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Continuar Comprando</a>
        </div>
    </div>
</div>