@model HomeViewModel

<partial name="_Carousel" />
<br />
<h2>Lanches em Destaque</h2>
<h4>Aproveite nossas ofertas</h4>

<div class="row">
    @foreach (var lanche in Model.LancheDestaque)
    {
        <partial name="_LancheResumoPartial" for="@lanche" />
    }
</div>